<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="fragments/styles :: head"></head>

<body>

<div th:replace="fragments/header :: authorized_header">&nbsp;</div>

<section class="profile_page current_course">
    <div class="container">
        <div class="row">
            <div class="col-md-9 ">
                <h1 class="title_of_course" th:text="${course.title}"></h1>
                <p class="course_descr" th:text="${course.description}"></p>
                <h2>Tasks:</h2>

                <!--fix this -->

                <ul class="list_of_tasks">
                    <li class="task_item" th:each="task : ${tasks}">
                        <a  th:href="'/current/courses/' + ${course.id} + '/tasks/' +${task.id}" th:text="${task.title}"></a>
                    </li>
                </ul>


            </div>
            <div class="col-md-3 ">
                <div class="profile_page_content profile_page_content_right">
                    <a th:href="'/current/courses/' + ${course.id} + '/newTask' ">Create Task</a>
                    <a th:href="@{/current/courses/delete/} + ${course.id}">Delete Course</a>
                </div>
            </div>
        </div>
    </div>
</section>


<div th:replace="fragments/styles :: styles">&nbsp;</div>
</body>
</html>