<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="fragments/styles :: head"></head>

<body>

<div th:replace="fragments/header :: authorized_header">&nbsp;</div>

<section class="profile_page current_task">
    <div class="container">
        <div class="row">

            <div class="col-md-9">
                <!-- <a href="current_course.html">back</a> -->
                <h1 class="current_task_title" th:text="'Title: ' +${task.title}"></h1>

                <!--<p th:attr="src=@{'/files/' + ${courseId}}"></p>-->

                <!--<a th:attr="href=@{'/files/' + ${courseId}}"> lalala</a>-->

                <a th:attr="src=@{/videosrc(taskId=${taskId})}">lalla</a>
                <!--<a th:attr="href=@{'/files/' + ${courseId}}"> lalala</a>-->
                <!--<a src="@{'/files/' + ${taskId}}"> lalala</a>-->
                <!--<a th:src="@{/videosrc(id=${taskId})}" th:text="@{/videosrc(id=${taskId})}">lala</a>-->

                <!--<img th:attr="src=@{'/files/' + ${courseId}}" alt="haven` t any photo">-->
                <video class="current_task_video" controls>
                     <!--<source th:src="${video}" >-->
                    <!--<source th:src="@{'/files/' + ${taskId}}"/>-->
                    <!--<source th:attr="src=@{'/files/' + ${taskId}}"/>-->
                    <!--<img src="" alt="">-->
                    <source th:src="@{/videosrc(taskId=${taskId})}" type="video/mp4">
                    Your browser does not support the video tag.
                </video>
            </div>
            <div class="col-md-3 ">
                <div class="profile_page_content profile_page_content_right">
                    <a th:href="@{/current/courses/}+ ${courseId} + @{/tasks/delete/} + ${task.id}">Delete Task</a>
                    <!--/current/courses/{courseId}/tasks/delete/{taskId}-->
                </div>
            </div>
        </div>
    </div>
</section>




<div th:replace="fragments/styles :: styles">&nbsp;</div>
</body>
</html>