<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="fragments/styles :: head"></head>

<body>

<div th:replace="fragments/header :: authorized_header">&nbsp;</div>

<section class="main_part profile_page">
    <div class="container">
        <div class="row">
            <div class="col-md-12 ">
                <h1 class="title_of_course" th:text="${course.title}"></h1>
                <p class="course_descr" th:text="${course.description}"></p>
                <h2>Tasks:</h2>

                <!--fix this -->

                <!--<ul class="list_of_tasks">-->
                <!--<li class="task_item">Overview</li>-->
                <!--<li class="task_item">Sources</li>-->
                <!--<li class="task_item">Checking</li>-->
                <!--</ul>-->

            </div>
        </div>
    </div>
</section>


<div th:replace="fragments/styles :: styles">&nbsp;</div>
</body>
</html>