<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="fragments/styles :: head"></head>

<body>

    <div th:replace="fragments/header :: authorized_header">&nbsp;</div>

    <div class="courses_part ">
        <div class="container">
            <div class="row">
                <h2>Users:</h2>
                <form action="/users" style="width: 100%;">
                    <div class="search">
                        <input class="search_input" type="text" name="name" placeholder="Search users">
                        <input class="search_submit" type="submit" value="Search">
                    </div>
                </form>
                <ul>
                    <li th:each="user : ${users}" th:text="'username: ' + ${user.userName} + ' email: ' + ${user.email}" ></li>
                </ul>

            </div>
        </div>
    </div>

    <div th:replace="fragments/styles :: styles">&nbsp;</div>
</body>
</html>