<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="fragments/styles :: head"></head>

<body>

    <div th:replace="fragments/header :: header">&nbsp;</div>


    <section class="main_part">

        <div class="container">
            <div class="row ">
                <div class="col-md-8 offset-md-2">
                    <div class="info_about_service">

                        <img src="/Users/korish/myFiles/projects/ENTERPRISE/NemkEducator/src/main/resources/static/main_page.jpg" alt="img">
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laboriosam tempora dignissimos non reiciendis, necessitatibus dolorem eveniet ea vero nam nostrum optio sed iure aspernatur rerum ratione nisi facere consequatur id! ipsum dolor sit amet, consectetur adipisicing elit. Iure doloribus, at, iusto, reprehenderit incidunt omnis ratione temporibus dicta commodi ab distinctio ea facilis atque esse quisquam ex adipisci aspernatur enim molestiae ducimus et hic pariatur porro molestias! Molestiae possimus quod unde rem odio aliquid iste voluptatum officiis, atque facere. Sed?	</p>
                        <div class="buttons">
                            <a href="/login">Login</a>
                            <a href="/signup">Sign up</a>
                        </div>
                    </div>
                </div>

            </div>
        </div>

    </section>


    <div th:replace="fragments/styles :: styles">&nbsp;</div>
</body>
</html>