<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="fragments/styles :: head"></head>
<body>

    <div th:replace="fragments/header :: header">&nbsp;</div>


    <section class="main_part">
        <div class="container">
            <div class="row">
                <div class="form_block">

                    <div class="alert " th:if="${param.error}" style="margin: 20px 0 ">
                        <p style="color: red ">Invalid UserName Or Password</p>
                    </div>

                    <form class="login-form validate-form" >
						<span class="login100-form-title">
							Member Login
						</span>


                        <div class="wrap-input100 validate-input" data-validate = "Valid email is required: ex@abc.xyz">
                            <input class="input100" type="text" id="email" name="email" placeholder="Email">
                            <span class="symbol-input">
								<i class="fa fa-envelope" aria-hidden="true"></i>
							</span>
                        </div>

                        <div class="wrap-input100 validate-input" data-validate = "Password is required">
                            <input class="input100" type="password" name="password" id="password" placeholder="Password">
                            <span class="symbol-input">
								<i class="fa fa-lock" aria-hidden="true"></i>
							</span>
                        </div>


                        <div class="container-login-form-btn">
                            <input class="login100-form-btn" type="submit" value="Log In">
                        </div>

                    </form>
                </div>
            </div>
        </div>
    </section>

    <div th:replace="fragments/styles :: styles">&nbsp;</div>

</body>
</html>